EntropyHub==2.0
h5py==2.10.0
ipython
keras==2.11.0
matplotlib==3.3.4
mne==1.6.1
numpy
openpyxl
pandas==1.1.5
PyQt5==5.15.10
pyqtgraph
PyWavelets
ruff==0.15.16
scikit-image
scikit-learn
scipy==1.10.1
seaborn
tensorflow==2.11.0
torch
torchvision
tqdm
umap-learn==0.5.7
xlrd
